CastServiceClient/Service References/CASTServiceReference/CASTService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CAST" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CAST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CASTRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SNN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VBS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VPR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CASTRequestType" nillable="true" type="tns:CASTRequestType" />
  <xs:complexType name="CASTResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGGIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CASTResponseType" nillable="true" type="tns:CASTResponseType" />
</xs:schema>