CastServiceClient/Service References/CASTServiceReference/CASTService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CAST/Service" elementFormDefault="qualified" targetNamespace="http://CAST/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3300/CASTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CAST" />
  <xs:element name="Call">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CAST" minOccurs="0" name="request" nillable="true" type="q1:CASTRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CAST" minOccurs="0" name="CallResult" nillable="true" type="q2:CASTResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>